.nav-quote{
    width: 160px;
    height: 40px;
    background: -moz-linear-gradient(left, rgba(244,14,118,1) 14%, rgba(255,103,15,1) 55%, rgb(238, 164, 45) 100%);
    background: -webkit-linear-gradient(left, rgba(244,14,118,1) 14%,rgba(255,103,15,1) 55%,rgb(238, 164, 45) 100%);
    background: linear-gradient(to right, rgba(244,14,118,1) 14%,rgba(255,103,15,1) 55%,rgba(238, 164, 45) 100%);
    border-top-right-radius:15px;
    border-bottom-left-radius:15px;
    transition: 1s all ease-in-out;
}

.nav-quote:hover{
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border-top-left-radius:15px;
    border-bottom-right-radius:15px;
}

.toggle-icon{
    border: 1px solid none;
}

.changeBackground{
    background: white;
}

.background{
    background:transparent;
}