.jump-btn{
    box-shadow: -4px 4px 24px -10px #f01f75!important;
    background: #f01f75;
    border-radius: 4px;
    border: 0 solid #f01f75;
    color: #fff;
    width: 1.875em !important;
    height: 3rem !important;
}